<div class="modal-container">
  <div class="modal">
    <div class="modal-header">
      <h3>Profiles</h3>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="modal-content">
      <mat-sidenav-container class="sidenav-container">
        <!-- Sidebar -->
        <mat-sidenav mode="side" opened class="sidenav">
          <div class="sidenav-item">
            <button mat-button (click)="addTab()" [disabled]="lastChildFormDirtyState || hasNewProfile()" aria-label="Add Profile" >
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <div *ngFor="let secret of profileService.profiles; let i = index" class="sidenav-item">
            <button mat-button (click)="onTabChange(i)">
              {{
              profileTabLabel(secret, i)
              }}
            </button>
          </div>
        </mat-sidenav>

        <!-- Main Content -->
        <mat-sidenav-content class="one-form">
          <ng-container *ngIf="profileService.profiles[selectedIndex] as profile">
            <app-profile-form
              [profile]="profile"
              (onProfileCancel)="onCancel($event)"
              (onProfileDelete)="onDelete($event)"
              (onProfileSave)="onSaveOne($event)"
              (invalidStateChange)="onChildFormInvalidStateChange($event)"
              (dirtyStateChange)="onChildFormDirtyStateChange($event)"
            ></app-profile-form>
          </ng-container>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
