// Modal Styling
.modal-content {
  width: 900px;
  display: flex;
  padding: 0;

  .one-form {
    background-color: #696969;
    flex: 1; // Allow the child to grow
    display: flex;
    flex-direction: column; // Adjust for your layout
  }
}

// Sidenav Container
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px; // Adjust the width as needed
  display: flex;
  flex-direction: column;
  height: 100%; // Ensure it fills the parent container

  // Filter Section
  .sidenav-filter {
    flex-shrink: 0; // Avoid shrinking
  }

  // Add Button Section
  .sidenav-add {
    flex-shrink: 0; // Avoid shrinking

    button {
      width: 100%;
      text-align: left;
    }
  }

  // Type Bar Section
  .sidenav-bottom-bar {
    margin-top: auto; // Push this element to the bottom
    display: flex;
    justify-content: space-around; // Distribute buttons evenly
    padding: 8px 0;
    border-top: 1px solid #ccc; // Optional: Add a top border for separation
  }

  // Sidenav Content
  .sidenav-content {
    flex-grow: 1;
    overflow-y: auto;
  }

  // Sidenav Item
  .sidenav-item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 40px;

    button {
      width: 100%;
      text-align: left;
      justify-content: start;
      padding-left: 20px;
    }
  }
}

// Group Tree
.group-tree {
  .child-tree-invisible {
    display: none;
  }

  .mat-nested-tree-node {
    div[role='group'] {
      padding-left: 28px;
      padding-bottom: 10px;

      > .mat-nested-tree-node {
        display: flex;
        align-items: center; // Aligns items vertically
        padding-left: 0;
        padding-bottom: 12px;
      }
    }
  }

  .tree-parent-node {
    display: flex;
    align-items: center; // Aligns items vertically

    .group-name {
      font-weight: bold;
    }
  }
}



// Group Name
.group-name {
  cursor: pointer;
  display: flex;
  align-items: center;

  mat-icon {
    padding-right: 2px;
  }
}

// Field Styling
.field {
  width: 100%;
}

// Mat Sidenav Content
.mat-sidenav-content {
  width: 700px;
}

.tag-prefix {
  display: flex; /* or inline-flex if it's within a text flow */
  gap: 1px; /* Adjust spacing between dots */
  align-items: center; /* Align dots vertically if needed */
}

.color-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: 2px;
  display: inline-block;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
