<div class="modal-container">
  <div class="modal">
    <div class="modal-header">
      <h3>Profiles</h3>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="modal-content">
      <mat-sidenav-container class="sidenav-container">
        <!-- Sidebar -->
        <mat-sidenav mode="side" opened class="sidenav">
          <div class="sidenav-item">
            <button mat-button (click)="addTab()" [disabled]="lastChildFormDirtyState || hasNewProfile()" aria-label="Add Profile" >
              <mat-icon>add</mat-icon>
            </button>
          </div>

          @for (profile of profileService.profiles; let i = $index; track i) {
              <div class="sidenav-item">
                <button mat-button
                        [class.selected]="i === selectedIndex"
                        (click)="onTabChange(i)">
              {{ profileTabLabel(profile, i) }}
                </button>
              </div>
          }

        </mat-sidenav>

        <!-- Main Content -->
        <mat-sidenav-content class="one-form">
          @if (profileService.profiles[selectedIndex]) {
          <app-profile-form
            [profile]="profileService.profiles[selectedIndex]"
            (onProfileCancel)="onCancel($event)"
            (onProfileDelete)="onDelete($event)"
            (onProfileSave)="onSaveOne($event)"
            (invalidStateChange)="onChildFormInvalidStateChange($event)"
            (dirtyStateChange)="onChildFormDirtyStateChange($event)"
          ></app-profile-form>
          }
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
