
.modal-content {
  width: 850px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px;
}

.profile-form-left-part{
  flex: 0 0 300px; /* Fixed width for the left part */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-form-right-part {
  flex: 0 0 500px; /* Fixed width for the right part */
}

.field{
  width: 280px;
}
