<div class="secret-form-container" [formGroup]="form">
  <div class="secret-form">
    <div class="secret-form-left-part">
      <mat-form-field class="field">
        <mat-label>{{ 'SECRETS.NAME' | translate }}</mat-label>
        <input matInput type="text" formControlName="name" required />
        @if (form.get('name')?.value) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clear(form, 'name')">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>


      <mat-form-field class="field">
        <mat-label>{{ 'SECRETS.TYPE' | translate }}</mat-label>
        <mat-select (selectionChange)="onSelectType($event)" required formControlName="secretType">
          @for (oneType of SECRET_TYPE_OPTIONS | keyvalue : unordered; track oneType.value) {
          <mat-option [value]="oneType.value">{{oneType.value}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="secret-form-right-part">
      @if (shouldShowField('login')) {
      <mat-form-field class="field">
        <mat-label>{{ 'SECRETS.LOGIN' | translate }}</mat-label>
        <input matInput type="text" formControlName="login" />
        @if (form.get('login')?.value) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clear(form, 'login')">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
      }


      @if (shouldShowField('password')) {
      <mat-form-field class="field">
        <mat-label>{{ 'SECRETS.PASSWORD' | translate }}</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>


      <mat-form-field class="field">
        <mat-label>{{ 'SECRETS.CONFIRM_PASSWORD' | translate }}</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
      </mat-form-field>
      }

      @if (shouldShowField('key')) {
      <mat-form-field class="field">
        <mat-label>{{ 'SECRETS.SSH_KEY' | translate }}</mat-label>
        <textarea matInput type="text" formControlName="key"></textarea>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>{{ 'SECRETS.KEY_PHRASE' | translate }}</mat-label>
        <input matInput type="password" formControlName="passphrase" />
      </mat-form-field>
      }

      @if (form.hasError('duplicateSecret')) {
      <mat-error>
        {{ 'SECRETS.ERRORS.DUPLICATE' | translate }}
      </mat-error>
      }
      @if (form.hasError('passwordMismatch')) {
      <mat-error>
        {{ 'SECRETS.ERRORS.PASSWORD_MISMATCH' | translate }}
      </mat-error>
      }
      @if (form.hasError('emptyLogin')) {
      <mat-error>
        {{ 'SECRETS.ERRORS.LOGIN_REQUIRED' | translate }}
      </mat-error>
      }
      @if (form.hasError('emptyPassword')) {
      <mat-error>
        {{ 'SECRETS.ERRORS.PASSWORD_REQUIRED' | translate }}
      </mat-error>
      }
      @if (form.hasError('emptyKey')) {
      <mat-error>
        {{ 'SECRETS.ERRORS.SSH_KEY_REQUIRED' | translate }}
      </mat-error>
      }

    </div>
  </div>
  <div class="secret-form-footer modal-footer">
    <button mat-raised-button color="warn" (click)="onCancel()">{{ 'COMMON.CANCEL' | translate }}</button>
    <button mat-raised-button color="warn" (click)="onDelete()">{{ 'COMMON.DELETE' | translate }}</button>
    <button mat-raised-button color="primary" (click)="onSaveOne()" [disabled]="form.invalid || !form.dirty">{{
      'COMMON.SAVE' | translate }}</button>
  </div>
</div>