<div [formGroup]="form">
  <mat-form-field class="field">
    <mat-label>Command</mat-label>
    <textarea matInput type="text"
              formControlName="customExecPath"
              cdkTextareaAutosize>

    </textarea>
    <mat-hint align="start"><strong>you can use $login $password in the command</strong> </mat-hint>
    @if (form.get('customExecPath')?.value) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clear(form, 'customExecPath')">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>

  <br/>
  <br/>

  <mat-radio-group aria-label="Auth Type" formControlName="authType" required>
    @for (oneType of AUTH_OPTIONS | keyvalue : unordered; track oneType.value) {
    <mat-radio-button [value]="oneType.value">{{ oneType.value }}</mat-radio-button>
    }
  </mat-radio-group>

  @switch (form.get('authType')?.value) {
  @case (AUTH_OPTIONS.LOGIN) {

  <mat-form-field class="field" required>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
  </mat-form-field>

  <mat-form-field class="field" required>
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" />
  </mat-form-field>
  }

  @case (AUTH_OPTIONS.SECRET) {
  <mat-form-field class="field" required>
    <mat-label>Secret</mat-label>
    <mat-select (selectionChange)="onSelectSecret($event)" formControlName="secretId">
      @for (oneSecret of secretStorageService.data.secrets; track oneSecret.id) {
      <mat-option [value]="oneSecret.id">
      {{ secretService.displaySecretOptionName(oneSecret) }}
      </mat-option>
      }
    </mat-select>
    @if (form.get('secretId')?.value) {
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clear(form,'secretId')">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
  }
  }
</div>
