<div [formGroup]="form">
  <mat-form-field class="field">
    <mat-label>{{ 'COMMON.HOST_NAME' | translate }}</mat-label>
    <input matInput type="text" formControlName="host" required/>
    @if (form.get('host')?.value) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clear(form,'host')">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <mat-form-field class="field">
    <mat-label>{{ 'COMMON.PORT' | translate }}</mat-label>
    <input matInput type="number" formControlName="port" required/>
  </mat-form-field>

  <mat-slide-toggle formControlName="secured">{{ 'FTP.SECURED' | translate }}</mat-slide-toggle>

  <mat-form-field class="field">
    <mat-label>{{ 'PROFILES.INIT_PATH' | translate }}</mat-label>
    <input matInput type="text" formControlName="path"/>
    @if (form.get('path')?.value) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clear(form,'path')">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>


  <mat-radio-group aria-label="Auth Type" formControlName="authType" required>
    @for (oneType of AUTH_OPTIONS | keyvalue : unordered; track oneType.value) {
      <mat-radio-button [value]="oneType.value">{{ oneType.value === 'login' ? ('COMMON.LOGIN' | translate) : ('COMMON.SECRET' | translate) }}</mat-radio-button>
    }
  </mat-radio-group>

  @switch (form.get('authType')?.value) {
    @case (AUTH_OPTIONS.LOGIN) {
      <mat-form-field class="field" required>
        <mat-label>{{ 'COMMON.LOGIN' | translate }}</mat-label>
        <input matInput type="text" formControlName="login" />
        @if (form.get('login')?.value) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clear(form,'host')">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field class="field" required>
        <mat-label>{{ 'COMMON.PASSWORD' | translate }}</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <mat-form-field class="field" required>
        <mat-label>{{ 'COMMON.CONFIRM_PASSWORD' | translate }}</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
      </mat-form-field>
    }

    @case (AUTH_OPTIONS.SECRET) {
      <mat-form-field class="field" required>
        <mat-label>{{ 'COMMON.SECRET' | translate }}</mat-label>
        <mat-select (selectionChange)="onSelectSecret($event)" formControlName="secretId">
          <mat-option (click)="quickCreateSecret()">
            <mat-icon>add</mat-icon>
            {{ 'COMMON.ADD_NEW' | translate }}
          </mat-option>
          @for (oneSecret of secretStorageService.dataCopy.secrets; track oneSecret.id) {
            <mat-option [value]="oneSecret.id">
              @if (oneSecret.icon) {
                <mat-icon>{{oneSecret.icon}}</mat-icon>
              }
              {{ secretService.displaySecretOptionName(oneSecret) }}
            </mat-option>
          }
        </mat-select>
        @if (form.get('secretId')?.value) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clear(form,'secretId')">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>
    }
  }
</div>
