:host {
  display: block;
  height: 100%;
}

.file-explorer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:host ::ng-deep app-scp, :host ::ng-deep app-ftp, :host ::ng-deep app-samba {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
