.groups-management-container {

  //.transparent-chip {
  //  background-color: transparent !important; /* Makes the chip transparent */
  //  color: inherit; /* Ensures text color remains legible */
  //}


  .fake-color-picker-btn {
    padding-right: 1px !important;
    cursor: grab;
  }

  .hidden-color-picker {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
  }

}
