:host {
  display: block; /* Or flex if required */
  height: 100%;   /* Full height of the parent container */
  width: 100%;    /* Optional, full width if required */
}

.field {
  margin: 16px;
  width: 280px;
}

.secret-form {
  display: flex;
  flex-direction: row;
  //height: calc(100vh - 80px - 68px - 32px); /* Full viewport height - the header - footer*/
}

.secret-form-container h2 {
  padding-left: 16px;
}

.secret-form-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.secret-form-left-part {
  flex: 0 0 300px; /* Fixed width for the left part */
  display: flex;
  flex-direction: column;
}

.secret-form-right-part {
  flex: 0 0 300px; /* Fixed width for the right part */
}


.secret-form-footer {
  margin-top: auto; /* Pushes it to the bottom */
  margin-bottom: 0; /* Adds the offset from the bottom */
}
