<div class="secret-form-container" [formGroup]="form">
  <div class="secret-form">
    <div class="secret-form-left-part">
      <mat-form-field class="field">
        <mat-label>Name</mat-label>
        <input matInput type="text"
               formControlName="name"
               required/>
        @if (form.get('name')?.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clear(form, 'name')">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>


      <mat-form-field class="field">
        <mat-label>Type</mat-label>
        <mat-select (selectionChange)="onSelectType($event)" required formControlName="secretType">
          @for (oneType of SECRET_TYPE_OPTIONS | keyvalue : unordered; track oneType.value) {
          <mat-option [value]="oneType.value">{{oneType.value}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="secret-form-right-part">
      @if (shouldShowField('login')) {
      <mat-form-field class="field">
        <mat-label>Login</mat-label>
        <input matInput type="text"
               formControlName="login"
               />
        @if (form.get('login')?.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clear(form, 'login')">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
      }


      @if (shouldShowField('password')) {
      <mat-form-field class="field">
        <mat-label>Password</mat-label>
        <input matInput type="password"
               formControlName="password"
               />
      </mat-form-field>


      <mat-form-field class="field">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password"
               formControlName="confirmPassword"
               />
      </mat-form-field>
      }

      @if (shouldShowField('key')) {
      <mat-form-field class="field">
        <mat-label>SSH Key</mat-label>
        <textarea matInput type="text" formControlName="key"></textarea>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Key Phrase</mat-label>
        <input matInput type="password"
               formControlName="passphrase"
        />
      </mat-form-field>
      }

      @if (form.hasError('passwordMismatch')) {
      <mat-error>
        Passwords do not match
      </mat-error>
      }
      @if (form.hasError('emptyLogin')) {
      <mat-error>
        Login is required
      </mat-error>
      }
      @if (form.hasError('emptyPassword')) {
      <mat-error>
        Password is required
      </mat-error>
      }
      @if (form.hasError('emptyKey')) {
      <mat-error>
        SSH Key is required
      </mat-error>
      }

    </div>
  </div>
  <div class="secret-form-footer modal-footer">
    <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    @if (!secret.isNew) {
    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
    }
    <button mat-raised-button color="primary" (click)="onSaveOne()"
            [disabled]="form.invalid || !form.dirty">Save</button>
  </div>
</div>
