<div class="groups-management-container">
  <div class="add-group-row">
    <mat-form-field class="group-name-input" appearance="outline" subscriptSizing="dynamic">
      <mat-label>New group name</mat-label>
      <input matInput type="text" [(ngModel)]="newGroupName" (keydown.enter)="onAddGroup($event)" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onAddGroup($event)" [disabled]="!newGroupName">
      <mat-icon>add</mat-icon>
      Add Group
    </button>
  </div>

  <div class="groups-list">
    @for (node of groupNodes; track node.id) {
    <div class="group-item" [style.borderLeftColor]="node.color || '#888'">

      <div class="group-info">
        @if (editingGroupId === node.id) {
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="inline-edit-input">
            <input
              matInput
              #editInput
              [value]="node.name"
              (blur)="saveEdit(node, editInput.value)"
              (keydown.enter)="saveEdit(node, editInput.value)"
              (keydown.escape)="cancelEdit()"
            />
          </mat-form-field>
        } @else {
          <span class="group-name" (dblclick)="startEdit(node)">{{ node.name }}</span>
        }
        <span class="profile-count">{{ getProfileCount(node) }} profile(s)</span>
      </div>

      <div class="group-actions">
        <input
          type="color"
          #colorPicker
          class="hidden-color-picker"
          [value]="node.color || '#3f51b5'"
          (change)="updateColor(node, $event)"
        />
        <button mat-icon-button matTooltip="Change color" (click)="colorPicker.click()">
          <mat-icon>color_lens</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Edit name" (click)="startEdit(node)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Delete group" color="warn" (click)="remove(node)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    } @empty {
    <div class="empty-state">
      <mat-icon>folder_open</mat-icon>
      <p>No groups yet. Add one above to organize your profiles.</p>
    </div>
    }
  </div>
</div>
