<div class="modal-container" [formGroup]="form">
  <div class="modal">
    <div class="modal-header">
      <h3>Settings</h3>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="modal-content" >
      <mat-tab-group>
        <mat-tab label="General">
          <div class="setting-form">
            <div>
              <mat-label>Set Master Key</mat-label>
              <button mat-button class="mat-primary" (click)="openMasterKeyModal()">
                <mat-icon>password</mat-icon>
              </button>

              <button mat-button class="mat-primary"
                      *ngIf="masterKeyService.hasMasterKey"
                      (click)="openDeleteMasterKeyConfirmationDialog()">
                <mat-icon>remove</mat-icon>
              </button>
            </div>

          </div>
        </mat-tab>
        <mat-tab label="UI">
          <div class="setting-form">
            <mat-form-field class="field" >
              <mat-label>Profile Label Length</mat-label>
              <input matInput type="number" formControlName="uiProfileLabelLength"/>
              <button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="clear(form, 'uiProfileLabelLength')"
                *ngIf="form.get('uiProfileLabelLength')?.value">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

          </div>
        </mat-tab>
        <mat-tab label="Local Terminal">
          <div class="setting-form">
            <mat-form-field class="field">
              <mat-label>Terminal Type</mat-label>
              <mat-select formControlName="localTerminalType"
                          (selectionChange)="onSelectLocalTerminalType($event)">
                <mat-option *ngFor="let localTermType of LOCAL_TERM_OPTIONS | keyvalue : unordered"
                            [value]="localTermType.value">{{localTermType.value}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="field" [class.cdk-visually-hidden]= "form.get('localTerminalType')?.value != 'custom'">
              <mat-label>Exec Path</mat-label>
              <input matInput type="text" formControlName="localTerminalExecPath"/>
              <button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="clear(form, 'execPath')"
                *ngIf="form.get('execPath')?.value">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="modal-footer">
      <button mat-button (click)="close()">Cancel</button>
      <button mat-stroked-button class="mat-accent" (click)="reload()">Reload</button>
      <button mat-raised-button class="mat-primary" [disabled]="form.invalid" (click)="onSave();close()">Save And Close</button>
      <button mat-raised-button class="mat-primary" [disabled]="form.invalid"  (click)="onSave()">Save</button>
    </div>
  </div>
</div>

