<form [formGroup]="resetPasswordForm" (ngSubmit)="update()" class="master-key-form">

  <h2 class="dialog-title">Set Master Key</h2>
  <div class="dialog-content">
    @if (this.masterKeyService.hasMasterKey) {
    <div class="field">
      <span class="p-float-label">
        <input pInputText type="password" formControlName="oldPassword" id="oldPassword">
        <label for="oldPassword">Old Master Key</label>
      </span>
      <small class="p-error">If incorrect, secrets won't work</small>
    </div>
    }

    <!-- New Password -->
    <div class="field">
      <span class="p-float-label">
        <input pInputText type="password" formControlName="newPassword" id="newPassword">
        <label for="newPassword">New Password</label>
      </span>
      @if (resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched) {
      <small class="p-error">
        @if (resetPasswordForm.get('newPassword')?.hasError('required')) { Password is required }
        @if (resetPasswordForm.get('newPassword')?.hasError('minlength')) { Min 6 characters }
      </small>
      }
    </div>

    <!-- Confirm Password -->
    <div class="field">
      <span class="p-float-label">
        <input pInputText type="password" formControlName="confirmPassword" id="confirmPassword">
        <label for="confirmPassword">Confirm Password</label>
      </span>
      @if (resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched) {
      <small class="p-error">Confirming password is required</small>
      }
    </div>

    @if (resetPasswordForm.hasError('passwordSimilar')) {
    <small class="p-error block">Password is similar to old one</small>
    }
    @if (resetPasswordForm.hasError('passwordMismatch')) {
    <small class="p-error block">Passwords do not match</small>
    }
  </div>
  <div class="dialog-actions">
    <p-button label="Abort" (onClick)="close()" styleClass="p-button-text"></p-button>
    <p-button label="Ok" type="submit" styleClass="p-button-raised p-button-primary" [disabled]="resetPasswordForm.invalid"></p-button>
  </div>
</form>
