<div class="modal-container">
  <div class="modal">
    <div class="modal-header">
      <h3>Secrets</h3>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="modal-content">
      <mat-sidenav-container class="sidenav-container">
        <!-- Sidebar -->
        <mat-sidenav mode="side" opened class="sidenav">
          <div class="sidenav-item">
            <button mat-button (click)="addTab()" [disabled]="lastFormDirtyState || hasNewSecret()" aria-label="Add Secret" >
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <div *ngFor="let secret of secretService.secrets; let i = index" class="sidenav-item">
            <button mat-button (click)="onTabChange(i)">
              {{
              secretTabLabel(secret, i)
              }}
            </button>
          </div>
        </mat-sidenav>

        <!-- Main Content -->
        <mat-sidenav-content class="one-form">
          <ng-container *ngIf="secretService.secrets[selectedIndex] as secret">
            <app-secret-form
              [secret]="secret"
              (onSecretCancel)="onCancel($event)"
              (onSecretDelete)="onDelete($event)"
              (onSecretSave)="onSaveOne($event)"
              (invalidStateChange)="lastFormInvalidState = $event"
              (dirtyStateChange)="lastFormDirtyState = $event"
            ></app-secret-form>
          </ng-container>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
