<div class="modal-container">
  <div class="modal">
    <div class="modal-header">
      <h3>Secrets</h3>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="modal-content">

      <mat-sidenav-container class="sidenav-container">
        <!-- Sidebar -->
        <mat-sidenav mode="side" opened class="sidenav">
          <div class="sidenav-filter">
            <mat-form-field class="field">
              <mat-label>Filter</mat-label>
              <input matInput type="text" [(ngModel)]="filter"/>
              @if (filter) {
              <button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="filter = ''">
                <mat-icon>close</mat-icon>
              </button>
              }
            </mat-form-field>
          </div>

          <div class="sidenav-add">
            <button mat-button (click)="addTab()" [disabled]="lastChildFormDirtyState || hasNewSecret()" aria-label="Add Secret" >
              <mat-icon>add</mat-icon>
            </button>
          </div>

          @for (secret of secretsCopy.secrets | filterKeyword:keywordsProviders:filter; track secret.id) {
          <div class="sidenav-item">
            <button mat-button
                    [class.selected]="secret.id === selectedId"
                    (click)="onTabChange(secret)">
              {{
              secretTabLabel(secret)
              }}
            </button>
          </div>
          }
        </mat-sidenav>

        <!-- Main Content -->
        <mat-sidenav-content class="one-form">
          @if (selectedSecret) {
          <ng-container>
            <app-secret-form
              [secret]="selectedSecret"
              (onSecretCancel)="onCancel($event)"
              (onSecretDelete)="onDelete($event)"
              (onSecretSave)="onSaveOne($event)"
              (invalidStateChange)="onChildFormInvalidStateChange($event)"
              (dirtyStateChange)="onChildFormDirtyStateChange($event)"
            ></app-secret-form>
          </ng-container>
          }
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
