<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" opened>
    <!-- Sidebar buttons -->
    <div class="sidebar-buttons">
      <br>
      <button mat-mini-fab color="primary" (click)="addTerminal()" aria-label="Add">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="saveMenu()" aria-label="Save">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="favoriteMenu()" aria-label="Favorite">
        <mat-icon>favorite</mat-icon>
      </button>

      <button mat-mini-fab color="primary" (click)="syncMenu()" aria-label="Favorite">
        <mat-icon>cloud</mat-icon>
      </button>

      <button mat-mini-fab color="primary" (click)="settingMenu()" aria-label="Favorite">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-tab-group id="tab-group">
      <mat-tab *ngFor="let tab of tabs; let i = index">
        <ng-template mat-tab-label>
          <div class="tab-label">
            <span>{{ tab.type +  (tab.id + 1)}} </span>
            <button mat-icon-button (click)="removeTab(i)" aria-label="Remove tab">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </ng-template>
        <app-terminal [terminalId]="tab.id"></app-terminal>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
