.sidebar-buttons {
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Ensures the container takes full height of the sidenav */
  gap: 15px;
  /* Space between buttons */
  overflow: hidden;
}

.sidebar-buttons-top {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* Space between buttons */
  padding-left: 3px;
  padding-right: 3px;
}

.sidebar-buttons-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* Space between buttons */
  margin-top: auto;
  /* Pushes this section to the bottom */
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 10px;
}

.mat-drawer-opened {
  min-width: 50px;
  max-width: 250px;
}


mat-tab-group {
  height: 100%;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Split View Styles */
.split-pane {
  position: relative;
  transition: width 0.2s ease;
}

/* Visual indicator for active pane */
.split-pane.active-pane {
  box-shadow: inset 0 0 0 1px #3f51b5;
}