<mat-sidenav-container fullscreen *ngIf="initialized">
  <mat-sidenav #sidenav mode="side" opened>
    <!-- Sidebar buttons -->
    <div class="sidebar-buttons">
      <br>
      <button mat-mini-fab color="primary" (click)="addLocalTerminal()" aria-label="Add Local Terminal">
        <mat-icon>terminal</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="addMenu()" aria-label="Add Profile">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="saveMenu()" aria-label="Save">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="favoriteMenu()" aria-label="Favorite">
        <mat-icon>favorite</mat-icon>
      </button>

      <button mat-mini-fab color="primary" (click)="syncMenu()" aria-label="Favorite">
        <mat-icon>cloud</mat-icon>
      </button>

      <button mat-mini-fab color="primary" (click)="settingMenu()" aria-label="Favorite">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content >
    <mat-tab-group id="tab-group" [selectedIndex]="currentTabIndex">
      <mat-tab *ngFor="let tab of tabs; let i = index">
        <ng-template mat-tab-label>
          <div class="tab-label">
            <span>{{ tab.tabType +  (i + 1)}} </span>
            <button mat-icon-button (click)="removeTab(i)" aria-label="Remove tab">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </ng-template>
        <div [ngSwitch]="tab.category">
          <app-terminal *ngSwitchCase="'TERMINAL'" [tab]="tab"></app-terminal>
          <app-remote-desktop *ngSwitchCase="'REMOTE_DESKTOP'" [tab]="tab"></app-remote-desktop>
          <app-file-explorer *ngSwitchCase="'FILE_EXPLORER'" [tab]="tab"></app-file-explorer>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="isMenuModalOpen"  [ngSwitch]="currentOpenedMenu">
      <app-profile-menu [@slideInOut]="'in'" *ngSwitchCase="'add'" (closeEvent)="closeModal()"></app-profile-menu>
      <app-setting-menu [@slideInOut]="'in'" *ngSwitchCase="'setting'" (closeEvent)="closeModal()" ></app-setting-menu>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
