.mat-drawer-opened {
  min-width: 50px;
  max-width: 250px;
}


mat-tab-group {
  height: 100%;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Split View Styles */
.split-pane {
  position: relative;
  transition: width 0.2s ease;
}

/* Visual indicator for active pane */
.split-pane.active-pane {
  box-shadow: inset 0 0 0 1px #3f51b5;
}