@use 'tokens' as t;

.modal-content {
    width: 900px;
    display: flex;
}

.field {
    width: 100%;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .sidenav-filter {
        flex-shrink: 0;
    }

    .sidenav-add {
        flex-shrink: 0;

        button {
            width: 100%;
            text-align: left;
        }
    }

    .sidenav-bottom-bar {
        margin-top: auto;
        display: flex;
        justify-content: space-around;
        padding: t.$spacing-sm 0;
        border-top: 1px solid var(--app-border-color);
    }

    .sidenav-content {
        flex-grow: 1;
        overflow-y: auto;
        scrollbar-width: thin;
    }

    .sidenav-item {
        display: flex;
        align-items: start;
        justify-content: space-between;
        height: 40px;

        button {
            width: 100%;
            text-align: left;
            justify-content: start;
            padding-left: 20px;
        }
    }
}

::ng-deep .menu-sidenav {
    width: 201px !important;
    min-width: 201px !important;
    max-width: 201px !important;

    .mat-drawer-inner-container {
        width: 200px !important;
        overflow: hidden !important;
    }
}

.mat-sidenav-content {
    width: 700px;
}

.one-form {
    background-color: var(--app-modal-content, t.$color-modal-content-dark);
    flex: 1;
    display: flex;
    flex-direction: column;
}

app-proxy-form {
    margin: 0;
}

.modal-content {
    padding: 0;
}
