<div class="sidebar-buttons">
    <br>
    <div class="sidebar-buttons-top">
        <p-button icon="pi pi-desktop" styleClass="p-button-rounded p-button-primary p-button-sm"
            (onClick)="addLocalTerminal()" aria-label="Add Local Terminal"></p-button>
        <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-primary p-button-sm"
            (onClick)="addMenu()" aria-label="Add Profile"></p-button>
        <p-button icon="pi pi-heart" styleClass="p-button-rounded p-button-primary p-button-sm"
            (onClick)="profileMenu()" aria-label="Favorite"></p-button>
        <p-button icon="pi pi-key" styleClass="p-button-rounded p-button-primary p-button-sm"
            (onClick)="secureMenu()" aria-label="Save"></p-button>
    </div>
    <div class="sidebar-buttons-bottom">
        <p-button icon="pi pi-server" styleClass="p-button-rounded p-button-primary p-button-sm"
            (onClick)="proxyMenu()" aria-label="Proxy"></p-button>
        <p-button icon="pi pi-cloud" styleClass="p-button-rounded p-button-primary p-button-sm"
            (onClick)="cloudMenu()" aria-label="Cloud"></p-button>

        <p-button icon="pi pi-cog" styleClass="p-button-rounded p-button-primary p-button-sm"
            (onClick)="settingMenu()" aria-label="Settings"></p-button>
    </div>
</div>
