.modal-content {
  width: 850px;
  display: flex;
}



.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px; /* Adjust the width as needed */
}

.sidenav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.sidenav-item button {
  width: 100%;
  text-align: left;
}

.mat-sidenav-content {
  width: 700px;
}

.one-secret-form {
  background-color: #696969;
  flex: 1; /* Allow the child to grow */
  display: flex;
  flex-direction: column; /* Adjust for your layout */
}

app-secret-form {
  margin: 0;
}

.modal-content {
  padding: 0px;
}



.field {
  margin: 16px;
  width: 280px;
}

.secret-form {
  display: flex;
  flex-direction: row;
}

.secret-form-container h2 {
  padding-left: 16px;
}

.secret-form-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.secret-form-left-part {
  flex: 0 0 300px; /* Fixed width for the left part */
  display: flex;
  flex-direction: column;
}

.secret-form-right-part {
  flex: 0 0 300px; /* Fixed width for the right part */
}


.secret-form-footer {
  margin-top: auto; /* Pushes it to the bottom */
  margin-bottom: 0; /* Adds the offset from the bottom */
}
