:host {
  display: block; /* Or flex if required */
  height: 100%;   /* Full height of the parent container */
  width: 100%;    /* Optional, full width if required */
}

.profile-form-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-form {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto; /* Allow form to take available space, but be scrollable */
  overflow-y: auto; /* Enable vertical scrolling */
}


.profile-form-left-part {
  flex: 0 0 300px; /* Fixed width for the left part */
  display: flex;
  flex-direction: column;
}

.profile-form-right-part {
  flex: 0 0 300px; /* Fixed width for the right part */
  padding-left: 30px
}

//.profile-form-footer {
//  margin-top: auto; /* Pushes it to the bottom */
//  margin-bottom: 0; /* Adds the offset from the bottom */
//}

.profile-form-footer {
  flex-shrink: 0;  /* Prevent the footer from shrinking */
  margin-top: auto; /* Push footer to the bottom */
}

.field {
  margin-left: 16px;
  margin-top: 16px;
  width: 280px;
}
