@use 'sass:color';
@use 'xterm/css/xterm.css';

// Fix parent chain heights
html,
body,
app-root {
  height: 100%;
  margin: 0;
}

.terminal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: black;
  overflow: hidden;

  // Terminal wrapper
  #term {
    flex: 1 1 auto;
    min-height: 0;
    position: relative;


    // Target xterm.js DOM elements directly
    .xterm {
      position: absolute !important;
      inset: 0 !important;
      padding: 8px !important;
      height: 100% !important;
    }
  }

  .terminal-footer {
    height: 10px;
    background: color.adjust(black, $lightness: -10%);
  }
}