<div class="terminal-container" #termContainer>
  @if (isSsh) {
  <div class="terminal-toolbar">
    <button mat-icon-button (click)="openScpExplorer($event)" title="Open File Explorer" class="toolbar-button">
      <mat-icon>folder_open</mat-icon>
    </button>
  </div>
  }
  <div #term id="term">
    <!-- xterm.js will insert its DOM here -->

<!--    xterm's scrollbar is too hard to manipulate we create our own custom to override it -->
    <div class="terminal-scrollbar" #scrollbar
      (mousedown)="onScrollbarTrackMouseDown($event)">
      <div class="terminal-scrollbar-thumb" #scrollbarThumb
        (mousedown)="onScrollbarThumbMouseDown($event)"></div>
    </div>
  </div>
</div>
