@use 'tokens' as t;

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.field {
  width: 100%;
  padding: t.$spacing-sm 0;
  margin-top: t.$spacing-md;
}

.proxy-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: t.$spacing-xl;
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0 t.$spacing-lg;
}

.proxy-form-left-part,
.proxy-form-right-part {
  display: flex;
  flex-direction: column;
}

.proxy-form-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.proxy-form-footer {
  flex-shrink: 0;
  margin-top: auto;
  padding: t.$spacing-md t.$spacing-lg;
  display: flex;
  gap: t.$spacing-sm;
  justify-content: flex-end;
  border-top: 1px solid var(--app-border-color);
}
