<div class="proxy-form-container" [formGroup]="form">
    <div class="proxy-form">
        <div class="proxy-form-left-part">
            <mat-form-field class="field">
                <mat-label>{{ 'PROXY.NAME' | translate }}</mat-label>
                <input matInput formControlName="name" placeholder="My Proxy">
                @if (form.get('name')?.hasError('required')) {<mat-error>Name is required</mat-error>}
            </mat-form-field>

            <mat-form-field class="field">
                <mat-label>{{ 'PROXY.TYPE' | translate }}</mat-label>
                <mat-select formControlName="type">
                    <mat-option value="HTTP">HTTP</mat-option>
                    <mat-option value="SOCKS4">SOCKS4</mat-option>
                    <mat-option value="SOCKS5">SOCKS5</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="proxy-form-right-part">
            <mat-form-field class="field">
                <mat-label>{{ 'PROXY.HOST' | translate }}</mat-label>
                <input matInput formControlName="host" placeholder="proxy.example.com">
                @if (form.get('host')?.hasError('required')) {<mat-error>Host is required</mat-error>}
            </mat-form-field>

            <mat-form-field class="field">
                <mat-label>{{ 'PROXY.PORT' | translate }}</mat-label>
                <input matInput type="number" formControlName="port" placeholder="8080">
                @if (form.get('port')?.hasError('required')) {<mat-error>Port is required</mat-error>}
                @if (form.get('port')?.hasError('min') || form.get('port')?.hasError('max')) {<mat-error>Invalid
                    port</mat-error>}
            </mat-form-field>

            <mat-form-field class="field">
                <mat-label>{{ 'PROXY.AUTH' | translate }}</mat-label>
                <mat-select formControlName="secretId">
                    <mat-option [value]="undefined">{{ 'PROXY.NONE' | translate }}</mat-option>
                    @for (secret of secretStorage.dataCopy.secrets; track secret.id) {
                    <mat-option [value]="secret.id">{{ secret.name }}</mat-option>
                    }
                </mat-select>
                <mat-hint>{{ 'PROXY.AUTH_HINT' | translate }}</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div class="proxy-form-footer modal-footer">
        <button mat-raised-button color="warn" (click)="onCancel()">{{ 'COMMON.CANCEL' | translate }}</button>
        @if (!proxy.isNew) {<button mat-raised-button color="warn" (click)="onDelete()">{{ 'COMMON.DELETE' | translate
            }}</button>}
        <button mat-raised-button color="primary" (click)="onSaveOne()" [disabled]="form.invalid || form.pristine || saving">
            @if (saving) {
            <mat-icon class="saving-spinner" style="animation: spin 1s linear infinite; display: inline-block;">refresh</mat-icon>
            }
            {{ 'COMMON.SAVE' | translate }}</button>
    </div>
</div>