/* You can add global styles to this file, and also import other style files */
@import "modal";
@import "snackbar";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-tab-body-wrapper
{
  flex-grow: 1;
}


/* In your component's CSS/SCSS file */
.selected {
  background-color: #e0f7fa !important; /* Example highlight color */
  color: #00796b !important;; /* Example text color */
  font-weight: bold !important;;
}
