<form [formGroup]="resetPasswordForm" (ngSubmit)="update()">

  <h1 mat-dialog-title>Set Master Key</h1>
  <div mat-dialog-content>
    @if (this.masterKeyService.hasMasterKey) {
    <mat-form-field>
      <mat-label>Old Master Key</mat-label>
      <input matInput
             type="password"
             formControlName="oldPassword"
             placeholder="Old Master Key, if you don't fill this correctly, all your secrets won't work anymore"
             >
    </mat-form-field>
    }

    <!-- New Password -->
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="newPassword"
        placeholder="Enter new password"
        required
      />
      @if (resetPasswordForm.get('newPassword')?.hasError('required')) {
      <mat-error>
        Password is required
      </mat-error>
      }
      @if (resetPasswordForm.get('newPassword')?.hasError('minlength')) {
      <mat-error>
        Password must be at least 6 characters long
      </mat-error>
      }
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirm new password"
        required
      />
      @if (resetPasswordForm.get('confirmPassword')?.hasError('required')) {
      <mat-error>
        Confirming your password is required
      </mat-error>
      }
    </mat-form-field>
    @if (resetPasswordForm.get('passwordSimilar')) {
    <mat-error>
      Password is similar to old one
    </mat-error>
    }
    @if (resetPasswordForm.get('passwordMismatch')) {
    <mat-error>
      Passwords do not match
    </mat-error>
    }
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="close()">Abort</button>
    <button mat-button color="primary" type="submit" cdkFocusInitial>Ok</button>
  </div>
</form>
