.remote-desktop-container {
  display: block; /* Or flex if required */
  height: calc(100vh - 48px);   /* Full height of the parent container */
  width: 100%;    /* Optional, full width if required */
}

